<div class="container">
  <div class="row justify-content-center align-content-center my-5">
    <div class="col-md-6">
      <div class="card_book">
        <div class="card">
          <div class="card-body text-center">
            <p>
              <img class="img-fluid" src="https://images-eu.ssl-images-amazon.com/images/I/519wS7RU4lL.jpg">
            </p>
            <h1 class="text-center card-title">Profile</h1>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptates, sapiente ratione, est alias
              possimus, sed soluta reiciendis quam corrupti ex esse aliquam quae tempora molestiae cumque ullam quasi
              et.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>